<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>header</key>
		<string>多线程</string>
		<key>footer</key>
		<string></string>
		<key>destVC</key>
		<string>MultiThreadVC</string>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>header</key>
		<string>瀑布流</string>
		<key>footer</key>
		<string></string>
		<key>destVC</key>
		<string>PinterestVC</string>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>header</key>
		<string>粒子动画效果</string>
		<key>footer</key>
		<string></string>
		<key>destVC</key>
		<string>EmitterViewController</string>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>header</key>
		<string>音视频采集</string>
		<key>footer</key>
		<string></string>
		<key>destVC</key>
		<string>_TtC3iOS11AVCaptureVC</string>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>header</key>
		<string>GPUImage</string>
		<key>footer</key>
		<string></string>
		<key>destVC</key>
		<string></string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>图片处理</string>
				<key>destVC</key>
				<string>_TtC3iOS10GPUImageVC</string>
			</dict>
			<dict>
				<key>title</key>
				<string>美颜相机</string>
				<key>destVC</key>
				<string>_TtC3iOS14BeautyCameraVC</string>
			</dict>
			<dict>
				<key>title</key>
				<string>实时画面</string>
				<key>destVC</key>
				<string>_TtC3iOS10RealTimeAV</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string>指定区域截屏</string>
		<key>footer</key>
		<string></string>
		<key>destVC</key>
		<string>SnapImageVC</string>
		<key>items</key>
		<array/>
	</dict>
</array>
</plist>
