<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>header</key>
		<string>多线程</string>
		<key>footer</key>
		<string></string>
		<key>destVC</key>
		<string>MultiThreadVC</string>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>header</key>
		<string>瀑布流</string>
		<key>footer</key>
		<string></string>
		<key>destVC</key>
		<string>PinterestVC</string>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>header</key>
		<string>粒子动画效果</string>
		<key>footer</key>
		<string></string>
		<key>destVC</key>
		<string>EmitterViewController</string>
		<key>items</key>
		<array/>
	</dict>
</array>
</plist>
